body {
    background-image: url(../assets/images/bg1.jpg);
    background-size: auto;
}
#heading {
    font-size: 32px;
    color: red;
    margin-left: 20px;
}

#logo {
    width: 100px;
    height: 100px;
    border-radius: 25px;
}

.input {
    margin-top: 30px;
    font-size: 18px;
}

.login {
    width: 400px;
    height: 400px;
}

#errorText {
    color: red;
    font-size: 16px;
}

.thumb {
    float: left;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

#imagename{
    font-size: 20px;
    color: maroon;
}

.jobtype {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.details {
    font-size: 20px;
    color: blue;
}

.homeImages{
    width: 150px;
    height: 150px;
    border-radius: 15px;
}

#details {
    margin-top: 30px;
    margin-left: 200px;
}