<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-9 col-xs-8"> 
        <img id={{idValue}} class="img-responsive" alt="image" width="500" height="300" ng-src="{{prods[idValue].path}}">
    </div>
    <div id="disp" class="col-lg-4 col-sm-3 col-md-4 col-xs-4">
        <span>Product name:  </span><label>{{productName}}</label> <br>
        <span>Product price:  </span><label>{{productPrice}}</label> <br>
        <span>Product availability:  </span><label>{{productAvail}}</label> <br>
        <span>Selected:  </span><label>{{productCount}}</label> <br>
        <span>Total price: </span><label>{{total}}</label> <br>
        <span>{{status}}</span> <br>
        <add-cart></add-cart>
        <cancel-cart></cancel-cart>
    </div>  
</div>