<!DOCTYPE html>
<html lang="en" ng-app="cart">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shopping Cart</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/thumbnail-gallery.css" rel="stylesheet">
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.js"></script>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a href="#"><img style="border-radius:40px;" src="assets/logo.png" alt="logo" width=75 height=75/>
                </a>
                <a href="#" style="font-size:30px; color:rgba(191, 114, 37, 0.8);">Shopping Cart</a>
            </div>
        </div>
    </nav>
    <div class="container" ng-controller="cartController">

        <div class="row">

            <div class="col-lg-12">
                <strong><h1 style="color: red;" class="page-header">Deals of the day!!!</h1></strong>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12"> 
                <div class="thumb" class="col-lg-6 col-sm-4 col-md-4 col-xs-6" ng-repeat="product in prods">
                    <img id={{$index}} class="img-responsive imgs" alt="image" width="90" height="90" ng-src="{{product.path}}" ng-click="display($event)">
                </div>
            </div>
            <div id="disp" class="col-lg-3 col-sm-4 col-md-4 col-xs-3">
                <span>Product name:  </span><label>{{productName}}</label> <br>
                <span>Product price:  </span><label>{{productPrice}}</label> <br>
                <span>Product availability:  </span><label>{{productAvail}}</label> <br>
                <span>Total price: </span><label>{{totalPrice}}</label> <br>
                <span>{{status}}</span> <br>
            </div>
        </div>
        <div class="row">
            <input type="button" class="btn btn-danger" id="add" value="Add" ng-click="addCart()">
            <input type="button" class="btn btn-danger" id="cancel" value="Cancel" ng-click="removeCart()">
        </div>
        <br>
        <div class="row show">
            <span>Products Selected</span> <br>
            <span>Product name:  </span><label>{{productName}}</label> <br>
            <span>Number of products:  </span><label>{{productCount}}</label> <br>
        </div>
        <br>
        <footer>
            <div class="row">
                <div>
                    <br>
                    <p style="text-align:center;color:black;" >Contact <a href=# style="color:#840000;">www.shoppingcart.com </a> </p>
                </div>
            </div>
        </footer>
    </div>  
<script type="text/javascript" src="js/script.js"></script>    
    
</body>

</html>
