<div class="row">
    <br>
    <input type="search" class="form-control" ng-model="search" placeholder="Search Type">
    <div class="thumb" ng-repeat="image in images | filter:search">
        <table>
            <tr>
                <span id="imagename">
                    <strong>{{image.name}}</strong>
                    </span>
                <br>
                <td>
                    <a href="#/details"><img class="homeImages" name="{{image.name}}" src="{{image.path}}" width="150" height="150" ng-click="clicked($event)"></a>
                </td>
            </tr>
        </table>
    </div>
</div>